doctype html
html(lang="en")
    head
        title=title
        script(crossorigin src="https://unpkg.com/react@16/umd/react.development.js")
        script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
        script(crossorigin src="https://unpkg.com/react-markdown@3.4.1/umd/react-markdown.js")
        script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch&flags=gated&rum=0")
    body
        div#root
        script(src="http://localhost:9000/" + file)